<div class="contact-us">
    <h2>Contact us:</h2>   
    <h5>HAPPY DAYS Travel Agency</h5>
        <address>
        5 Park Avenue<br>
        TWICKENHAM<br>
        TW49 0OF<br>
        UK<br>
        info@happydays.com<br>
        <br>
        You can speak to our team <br>        
        8.00 - 16.00 Monday to Friday<br>
        (311) 555-2368<br>        
      </address>
    <ol>We are more than happy to receive your feedback!</ol> 

  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1" style="font-weight: bold;">Email address:</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1" style="font-weight: bold">Select your topic:</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>---Select your topic---</option>
        <option>Suggestions</option>
        <option>Ideas for improvement</option>
        <option>Share your experience with us</option>
        <option>What did you like best</option>
        <option>Other topics</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1" style="font-weight: bold">Share your thoughts with us:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div>     
        <button class = "btn btn-success" type = "submit" style="margin-bottom: 20px">Send</button>
     </div>
  </form>
</div>

    <div class="row">
      <a class="col l2 m2 s6">
        <img src="assets/contact.png" alt="Contact Us">
      </a>
    </div>
