
<section class="product_cards_container row" style="margin-bottom: 80px">
    <div class="col s12 m12 l12">
      <div class="card col l5 m6 s12 offset-l1 item">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/tropical_resort_960x540.jpg" style="margin-left: 5%;">
        </div>
        <div class="card-content">
          <h3><p><u><a href="https:/www.fourseasons.com/jimbaranbay/" target="_blank"> Four Seasons Resort Bali Welcomes You </a></u></p></h3>
        </div>
        <div class="card-reveal">
          <h5><p><b><i>Accommodation</i></b></p></h5>
        
          <p>Become one with Bali’s magical energy and gentle nature. Sheltered in a calm bay along three miles of sand, our breezy villas channel an authentic Balinese village.</p> 
         
          <p> Experience indoor-outdoor living at its best as you dine outside in your bale (a Balinese-style pergola) by the infinity pool and lounge on the terrace.
            Inspired by traditional Balinese architecture, Villas are housed in a private stone-walled courtyard featuring separate thatched-roof pavilions. 
            Each villa offers spacious indoor and outdoor living areas, lush gardens, a private pool and their own sun terrace.</p>
          <p>Ideal for families and groups of friends, they offer privacy and seclusion in a breathtaking setting.
            Together with unforgettable views and authentic arts offerings, we bring you a deeper understanding of the island’s stunning landscapes and inimitable culture. 
          </p>

          <h5 style="margin-top: 30px;"><p><b><i>Featured Offer</i></b></p></h5>          

          <p>Combine two exotic experiences on Bali. Try ocean living at Four Seasons Resort Bali at Jimbaran Bay, and escape to a private sanctuary on 
              the Ayung River at Four Seasons Resort Bali at Sayan. This offer includes a stay at each resort, daily breakfast, and more. 
              For a unique check-in experience in Sayan, choose to arrive by river raft from Jimbaran Bay.</p>
              <a href="https://www.fourseasons.com/jimbaranbay/offers/bali-twice-the-magic/" target="_blank"> Link to more Details </a>
        </div>
      <div class="links">    
        <a href="#">Back to Destinations // </a> 
        <a href="trips" target="_self">Trip Details</a>
      </div>
      </div> 
  

