<div class="home">
  
    <h1>Happy Days Are On Your Way! </h1>
    <h2> <i>Check out our great offers for 2021!</i></h2>    
    
    <div class="row" style="margin-top: 90px">    
      <a class="col l4 m6 s6" href="/dolomites" target="_self">
        <img src="assets/Karersee_ Dolomites_ Italy_320x480.jpg" alt="Karersee Lake" style="margin-left: -70%">    
        <h5 style="margin-left: -63%"><p><u><a href="/dolomites" 
            target="_self"> Carezza Lake, Dolomites, Italy </a></u></p></h5>   
      </a>
      <a class="col l4 m6 s6" href="/bali" target="_self" >
        <img src="assets/tropical_beach_Bali_320x480.jpg" alt="Bali Beach">
        <h5 style="margin-left: 25%"><p><u><a href="/bali" target="_self"> Bali, Indonesia </a></u></p></h5>
      </a>
      <a class="col l4 m6 s6" href="/gullfoss" target="_self" >
        <img src="assets/waterfall_gullfoss_320x480.jpg" alt="Gullfoss Iceland" style="margin-left: 70%">
        <h5 style="margin-left: 95%"><p><u><a href="/gullfoss" target="_self"> Gullfoss,Iceland </a></u></p></h5>
      </a>
    </div>
</div>


