
<section class="product_cards_container row" style="margin-bottom: 80px">
    <div class="col s12 m12 l12">
      <div class="card col l5 m6 s12 offset-l1 item">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/BlueLagoon2.jpg" style="margin-left: 2.5%;">
        </div>
        <div class="card-content">
         <h3><p><u><a href="https://www.bluelagoon.com/" target="_blank"> Blue Lagoon Iceland Welcomes You </a></u></p></h3>
        </div>
        <div class="card-reveal">
          <h5><p><b><i>Accommodation</i></b></p></h5>
        
          <p>Comfort and hospitality in the heart of an otherworldly landscape.</p> 
         
          <p> From culinary journeys to extended holidays, our exclusive offers and special events will elevate your experience.
              An unforgetable night and five luxurious hours at the Retreat Spa, an exquisite subterranean sanctuary that
              brings you into harmony with the rejuvenating powers of the volcanic earth, will take you into a new dimension.
              
          </p>
          <p> Gourmet dining on the shores of a wonder of the world. Built into an 800-year-old lava cliff on the west bank of 
              the Blue Lagoon, Lava Restaurant is a place where dynamic cuisine and enchanting design create unforgettable culinary experiences.
              Combining sublime comfort and classic Icelandic cuisine at Lava Restaurant, this overnight experience opens a world
              of wellbeing in an enchanting volcanic landscape.
          </p>

          <h5 style="margin-top: 30px;"><p><b><i>Featured Offer</i></b></p></h5> 

          <p>Experience the tranquility of our unique, geothermal seawater. Stay at our hotels designed for serenity and complete relaxation. </p>          
        </div>
      <div class="links">    
        <a href="#">Back to Destinations // </a> 
        <a href="trips" target="_self">Trip Details</a>
      </div>
      </div> 



