
<section class="product_cards_container row" style="margin-bottom: 80px">
    <div class="col s12 m12 l12">
      <div class="card col l5 m6 s12 offset-l1 item">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/KarerHotel.jpg" style="margin-left: 2.5%;">
        </div>
        <div class="card-content">
         <h3><p><u><a href="https://www.karnerhof.com/en/" target="_blank"> Karerhof Welcomes You </a></u></p></h3>
        </div>
        <div class="card-reveal">
          <h5><p><b><i>Accommodation</i></b></p></h5>
        
          <p>There are places in the world, like Carezza Lake in South Tyrol you long for without quite knowing it . . .</p> 
         
          <p> Take off on a journey of discovery: here you’ll find all important information and the range of services for your getaway. 
              Browse through our wide selection of rooms and suites for families, couples and singles. We’ve also put together an assortment of package deals for spring, summer and autumn;
              these include many extras for a range of holiday interests. 
              More than 40 free services are already included in your regular room price. Have a look at some of the quotes in our guest reviews. If you’d really like to spoil that special someone, consider giving them a gift certificate.</p>
          <p>Turquoise blue water glistening in the sunlight. Vibrant green forests. The imposing mountain backdrop. The call of birdsong. Children laughing. You’ll find yourself far away from your everyday cares, nestled in the middle of nature. 
              A spacious setting where your holiday memories can gently unfold.
             Personal service and our heartfelt hospitality will make your stay a deeply rejuvenating experience. We’ve got everything ready for you. 
             From the moment you arrive, you can start spoiling yourself with our services, savouring our exceptional cuisine and enjoying the breathtaking surroundings. 
        </p>

          <h5 style="margin-top: 30px;"><p><b><i>Featured Offer</i></b></p></h5> 

          <p>A relaxed family hike, a power-walk through the woods, a paddling adventure by canoe. Or perhaps you prefer hatha yoga with a view of nature or water aerobics in the indoor pool?
             What do your senses truly yearn for? A breathtaking landscape that lives to the soothing beat of nature, a mild climate with hour after hour of sunshine,
             and an extensive range of sporting and fitness activities on land and water. <br>
             We offer you an ideal spot for an active getaway. </p>          
        </div>
      <div class="links">    
        <a href="#">Back to Destinations // </a> 
        <a href="trips" target="_self">Trip Details</a>
      </div>
      </div> 


