<div class="row" style="margin-left: 50%" >    
      <img src="assets/AboutUs.png" alt="Our Team" style="margin-left: -70%" >       
  </div>

<div id="main" class="container main_container" style="margin-top: 20px" style="margin-left: -20%" style="margin-right: 5%">
    <div class="content">
    <h3  style="margin-top: -5px" style="color: rgb(13,4,94)"><b>About Us</b></h3>
    <h6><p><i><b>We’re a team of enthusiastic people offering our creativity to provide you unforgetable memories during your vacation.</b></i></p></h6>
    <h6><p><i><b>Our commitment has helped us grow and develop quality products for our customers and trusted relationships with our partners. Our passion to deliver high quality services flows through everything we do.</b></i></p></h6>
      <div class="about_us">

        <h3 style="color: rgb(13, 4, 94)"><b>Our Values</b></h3>
        <h6><p><i><b>
            We want to grow as a company that’s focused on the happiness of our customers, of our team's and also of our personal growth along the journey.
        </b></i></p></h6>
      </div>

      <div class="partner" style="margin-top: 20px">        
        <h3 style="color: rgb(13, 4, 94)"><b>Our Partners</b></h3>
        <h6><p><i><b>We are proud to collaborate with prestigious companies around the world. Each partnership means respect and we are grateful to have the opportunity to build great experiences together.</b></i></p></h6>
    </div>
    </div>
       
       <div class="row partners-container" style="margin-top: 30px">
          <a class="col l4 m6 s6" href="https://www.lufthansa.com/" target="_blank">
            <img src="assets/Luftha1.png" alt="Lufthansa">
          </a>
          <a class="col l4 m6 s6" href="https://www.emirates.com/" target="_blank">
            <img src="assets/EmiratesAirlines1.png" alt="EmiratesAirlines">
          </a>
          <a class="col l4 m6 s6" href="https://www.flydubai.com/" target="_blank">
            <img src="assets/FlyDubai1.png" alt="FlyDubai">
          </a>
          <a class="col l4 m6 s6" href="https://www.marriott.com/" target="_blank">
            <img src="assets/Marriott1.png" alt="Marriott">
          </a>
          <a class="col l4 m6 s6" href="https://www.fourseasons.com/" target="_blank">
            <img src="assets/FourSeasons2.png" alt="FourSeasons">
          </a>
          <a class="col l4 m6 s6" href="https://www.hilton.com/" target="_blank">
            <img src="assets/Hilton2.png" alt="Hilton">
          </a>
        </div>
      